from_tg_3_Daniil.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="s112"
             targetNamespace="s112"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="s112"
                   targetNamespace="s112"
                   elementFormDefault="qualified">
            <complexType name="CardAT">
                <sequence>
                    <element name="cardATId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCreate" type="dateTime" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="CardCommServ">
                <sequence>
                    <element name="cardCommServId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCreate" type="dateTime" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="Card04">
                <sequence>
                    <element name="card04Id" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCreate" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="dtConfirm" type="dateTime" minOccurs="0" maxOccurs="1"/
                </sequence>
            </complexType>
            <complexType name="Card03">
                <sequence>
                    <element name="card03Id" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCreate" type="dateTime" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="Card02">
                <sequence>
                    <element name="card02Id" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCreate" type="dateTime" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="Card01">
                <sequence>
                    <element name="card01Id" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCreate" type="dateTime" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="ReceptionItem">
                <sequence>
                    <element name="receptionItemId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="eosClassTypeId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtConfirmMessage" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="bSuccess" type="boolean" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="TransferItem">
                <sequence>
                    <element name="transferItemId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="eosClassTypeId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtTransfer" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="bSuccess" type="boolean" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="Consult">
                <sequence>
                    <element name="consultlId" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="dtConsultStart" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="dtConsultEnd" type="dateTime" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="Psycho">
                <sequence>
                    <element name="psychoid" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="dtPsychoStart" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="dtPsychoEnd" type="dateTime" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="otherMessage">
                <sequence>
                    <element name="otherMessageId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtOtherMessage" type="dateTime" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="sms">
                <sequence>
                    <element name="smsId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtSms" type="dateTime" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="sensorMessage">
                <sequence>
                    <element name="sensorMessageId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtSensorMessage" type="dateTime" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="Era">
                <sequence>
                    <element name="eraId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtEra" type="dateTime" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="RedirectCall">
                <sequence>
                    <element name="eosClassTypeId" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="dtRedirectTime" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="dtRedirectConfirm" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="redirectCancel" type="boolean" minOccurs="0" maxOccurs="1"/>
                    <element name="bConference" type="boolean" minOccurs="0" maxOccurs="1"/>
                    <element name="Operator" type="tns:Operator" minOccurs="0" maxOccurs="1"/>
                    <element name="OperatorId" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="PhoneCall" type="tns:PhoneCall" minOccurs="0" maxOccurs="1"/>
                    <element name="PhoneCallId" type="string" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="PhoneCall">
                <sequence>
                    <element name="phoneCallId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="dtSend" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="bOperatorIniciatied" type="boolean" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCall" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="dtConnect" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="bCallEnded" type="boolean" minOccurs="0" maxOccurs="1"/>
                    <element name="aCallEnded" type="boolean" minOccurs="0" maxOccurs="1"/>
                    <element name="dtEndCall" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="Operator" type="tns:Operator" minOccurs="0" maxOccurs="1"/>
                    <element name="OperatorId" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="RedirectCall" type="tns:RedirectCall" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <complexType name="Ukio">
                <sequence>
                    <element name="globalId" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="parentGlobalId" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="strCardState" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="strIncidentType" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="dtSend" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    <element name="dtCreate" type="dateTime" minOccurs="0" maxOccurs="1"/>
                    <element name="dtUpdate" type="dateTime" minOccurs="0" maxOccurs="1"/>
                    <element name="nCasualties" type="integer" minOccurs="0" maxOccurs="1"/>
                    <element name="bHumanThreat" type="boolean" minOccurs="0" maxOccurs="1"/>
                    <element name="bChs" type="boolean" minOccurs="0" maxOccurs="1"/>
                    <element name="strCallSource" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="bWrong" type="boolean" minOccurs="1" maxOccurs="1"/>
                    <element name="bChildPlay" type="boolean" minOccurs="1" maxOccurs="1"/>
                    <element name="PhoneCall" type="tns:PhoneCall" minOccurs="0" maxOccurs="1000"/>
                    <element name="PhoneCallID" type="string" minOccurs="0" maxOccurs="1000"/>
                    <element name="bRelocated" type="boolean" minOccurs="0" maxOccurs="1"/>
                    <element name="strRegionTransfer" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="CallContent" type="tns:CallContent" minOccurs="0" maxOccurs="1"/>
                    <element name="Address" type="tns:Address" minOccurs="0" maxOccurs="1"/>
                    <element name="Era" type="tns:Era" minOccurs="0" maxOccurs="1"/>
                    <element name="sensorMessage" type="tns:sensorMessage" minOccurs="0" maxOccurs="1000"/>
                    <element name="sms" type="tns:sms" minOccurs="0" maxOccurs="1000"/>
                    <element name="otherMessage" type="tns:otherMessage" minOccurs="0" maxOccurs="1000"/>
                    <element name="Psycho" type="tns:Psycho" minOccurs="0" maxOccurs="1"/>
                    <element name="Consult" type="tns:Consult" minOccurs="0" maxOccurs="1"/>
                    <element name="TransferItem" type="tns:TransferItem" minOccurs="0" maxOccurs="1000"/>
                    <element name="ReceptionItem" type="tns:ReceptionItem" minOccurs="0" maxOccurs="1000"/>
                    <element name="EosItem" type="tns:EosItem" minOccurs="0" maxOccurs="1000"/>
                    <element name="Card01" type="tns:Card01" minOccurs="0" maxOccurs="1"/>
                    <element name="Card02" type="tns:Card02" minOccurs="0" maxOccurs="1"/>
                    <element name="Card03" type="tns:Card03" minOccurs="0" maxOccurs="1"/>
                    <element name="Card04" type="tns:Card04" minOccurs="0" maxOccurs="1"/>
                    <element name="CardAT" type="tns:CardAT" minOccurs="0" maxOccurs="1"/>
                    <element name="CardCommServ" type="tns:CardCommServ" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <element name="Ukios">
                <complexType>
                    <sequence>
                        <element name="Ukio" type="tns:Ukio" maxOccurs="1000"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="Call">
                <sequence>
                    <element name="callId" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="strCallStatus" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="PhoneCall" type="tns:PhoneCall" minOccurs="0" maxOccurs="1"/>
                    <element name="PhoneCallID" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="dtCall" type="dateTime" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </complexType>
            <element name="Calls">
                <complexType>
                    <sequence>
                        <element name="Call" type="tns:Call" maxOccurs="1000"/>
                        <element name="dtSend" type="dateTime" minOccurs="1" maxOccurs="1"/>
                    </sequence>
                </complexType>
            </element>
            <element name="Response">
                <complexType>
                    <sequence>
                        <element name="status" type="string" minOccurs="1" maxOccurs="1"/>
                        <element name="errorCode" type="integer" minOccurs="0" maxOccurs="1"/>
                        <element name="description" type="string" minOccurs="0" maxOccurs="1"/>
                        <element name="warnings" type="string" minOccurs="0" maxOccurs="1000"/>
                    </sequence>
                </complexType>
            </element>
        </xs:schema>
    </types>

    <message name="Ukios">
        <part name="Ukios" element="tns:Ukios"/>
    </message>
    <message name="Calls">
        <part name="Calls" element="tns:Calls"/>
    </message>
    <message name="Response">
        <part name="Response" element="tns:Response"/>
    </message>

    <portType name="portType">
        <operation name="send_ukio">
            <input message="tns:Ukios"/>
            <output message="tns:Response"/>
        </operation>
        <operation name="send_calls">
            <input message="tns:Calls"/>
            <output message="tns:Response"/>
        </operation>
    </portType>

    <binding name="binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="send_ukio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="send_calls">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="service">
        <port name="servicePort" binding="tns:binding">
            <soap:address location="https://rsc.test.s112.fastec.ru/soap_4_3"/>
        </port>
    </service>
</definitions>